* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  width: 50vw;
  height: 50vh;
  border: 1px solid #555;
  display: grid;
  text-align: center;
  justify-content: center;
  align-items: center;
  
  /* 그리드 템플릿 적용 */
  /* 열에 이름 지정하기 */
  grid-template-columns: [col1] 100px [col2] 200px [col3] 0px;
}

.grid-item {
  border: 1px solid #000;
  grid-column: col1 col2 col3; /* [col3]에 0px라도 명시하니 한 줄로 연결하는 데에 성공한 모습 */
}