* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  width: 50vw;
  height: 50vh;
  border: 1px solid #555;
  display: grid;
  text-align: center;
  justify-content: center;
  align-items: center;
  
  /* 그리드 템플릿 적용 */
  grid-template-rows: 100px 200px 300px; /* 3개의 행을 각각 100px, 200px, 300px로 지정 */
}

.grid-item {
  border: 1px solid #000;
}