* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  width: 50vw;
  height: 50vh;
  border: 1px solid #555;
  display: grid;
  text-align: center;
  justify-content: center;
  align-items: center;
  
  /* 그리드 템플릿 적용 */
  /* 열에 이름 지정하기 */
  grid-template-columns: [col1] 100px [col2] 200px [col3];
}

.grid-item {
  border: 1px solid #000;
  grid-column: col1 col2; /* 이어서 작성하면 특정 열을 연결할 수 있다. */
}